<h1 class="task-title">ToDo アプリケーション</h1>
<h4>CRUDの機能がある簡単なToDoアプリです</h4>
        <table class="todo">
        <thead>
            <tr>
            <th>ToDoリスト</th>
            </tr>
            <br>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td><%= link_to '編集', edit_task_path(task) %></td>
                <td><%= link_to '削除', task_path(task), method: :delete %></td>
            </tr>
            <% end %>
        </tbody>
</table>
<%=  button_to 'あたらしく追加する',  { controller: 'tasks', action: 'new' }, { method: :get }%>

